{% extends "base.html" %}
<!-- -->
{% block logo %}
<div class="logo-big mx-5 my-5 my-lg-0"></div>
{% endblock %}
<!-- -->
{% block content %}
<div class="hero mx-5">
  <div class="row my-5 gx-0">
    <div
      class="col hero-first-part d-flex align-items-center justify-content-start"
    >
      <h1 class="ms-5 typing-text">
        <span>Everyone gets a chance</span>
      </h1>
    </div>
    <div class="col explore d-flex justify-content-center">
      <h2>EXPLORE</h2>
    </div>
    <div class="col hero-second-part"></div>
  </div>
  {% endblock %}
</div>
